.cv-main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 6rem;
  background-color: #fff;
  padding-top: 150px
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.profile-pic {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border: 4px solid #000;
  box-shadow: 6px 6px 0 #000;
  border-radius: 8px;
}

.right-side {
  flex: 2;
  padding-left: 3rem;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.intro h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-me {
  margin-top: 1.5rem;
}

.about-me h3 {

  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

/* === 底部区域 === */
.bottom-section {
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  gap: 2.5rem;
}

/* === NES 复古边框卡片 === */
.nes-card {
  width: 80%;
  max-width: 700px;
  background-color: #fefefe;
  border: 4px solid #000;

  padding: 2rem 2rem;
  font-family:  monospace;
  text-align: center;
  line-height: 2.2;
  color: #222;
  border-radius: 6px;

}




.nes-card h3 {
  color: #222;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  
}

.nes-card p {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
}

/* 响应式 */
@media (max-width: 768px) {
  .cv-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .right-side {
    padding-left: 0;
  }

  .nes-card {
    width: 95%;
    padding: 1rem;
    font-size: 0.7rem;
  }
}
