.download-card {
  display: inline-block;
  width:auto;
  max-width: 700px;
  background-color: #fefefe;
  border: 4px solid #000;

  padding: 0.5rem 2rem;
  font-family:  monospace;
  text-align: center;
  line-height: 1.8;
  color: #222;
  border-radius: 6px;
  background-image: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 4px,
    #f0f0f0 4px,
    #f0f0f0 8px
  );
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-decoration: none;
}




.download-card:active {
  transform: translate(2px, 2px);
  box-shadow: 3px 3px 0 #000;
}
